body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.calculator{
    background: grey;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

#display{
    width: 100%;
    height: 60px;
    background: #000;
    border-radius: 10px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: #fff;
    overflow: auto;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.operator{
    background: orange;
    color: #fff;
    font-size: 26px;
}

.number{
    background: #444;
    color: #fff;
}

.clear{
    background: red;
    color: #fff;

}

.equal{
    background: green;
    color : #fff;
    grid-column: span 2;
}
button:hover{
    opacity: 0.8;
}